.header-top {
 background: rgba(0, 47, 77, .3);
 height: 70px;
 padding: 0 10px;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 12;
 box-sizing: border-box;
}

/*
#header{
	background: #16a085;
	color: #ffffff;
	background: -webkit-gradient(linear, top left, bottom left, from(#16a085), to(#7baabe));
	background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
	background: linear-gradient(#4BBFC3,#7BAABE);
}

#presentation{
	background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
	background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
	background: linear-gradient(#4BBFC3,#7BAABE);
}

#skills{
	background: -webkit-gradient(linear, top left, bottom left, from(#969ac6), to(#636F8F));
	background: -webkit-linear-gradient(#969AC6, #636F8F);
	background: linear-gradient(#969AC6,#636F8F);
}

#projects{
	background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#969ac6));
	background: -webkit-linear-gradient(#7BAABE, #969AC6);
	background: linear-gradient(#7BAABE,#969AC6);
}

/**/

.pan {
	position:relative;
	max-width: 750px;
    width: 100%;
	height:auto;
	top: 50%;
}

#pan-left {
	float:left;
}

#pan-right {
	float:right;
}

#intro {
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

#intro p{
    text-align: justify;
}

#intro-buttons{
	display: inline-block;
    width: 100%;
	padding: 20px 20px
}

#intro-buttons button{
	width: 45%;
}

#header button {
	margin: 3px;
}

/* Style all font awesome icons */
#social{
	display: inline-block;
    width: 100%;
	font-size: 30px;
	text-align: center;
}

#social a{
	color: inherit;
}

.fa {
	width: 50px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
opacity: 0.7;
}

#contactinfo{
	width: 50%;
    float: left;
} 

#contactinfo a.fa {
    width: 100%;
	text-align: left;
	padding: 5px;
}

#miniskills{
	width: 50%;
    float: right;
	text-align: left;
}

#miniskills button{
	padding: 2px 12px;
}

#buttons{
	width: 80%;
	float: left;
}

.bracket{
	font-size: 120px;
	height: 100px; 
	position:relative;
	margin-top:-50px;
	color:whitesmoke;
}
#left-bracket{ 
	float: left;
}
#right-bracket{ 
	float: right;
}

/***************************************************/

#photo{
	width: 50%;
	position: relative;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
  }
